@import "lib/normalize.css";

html, body {
    height: 100%;
}

#grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/grid-640.png") repeat;
    background-size: 4px 4px;
}

#grid-selector {
    position: absolute;
}

.grid-selector-sibling {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#controls {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

#controls button {
    margin:0 auto;
    display:block;
}

#controls button:not(:first-child){
    margin-top: 15px;
}

@media (min-width: 1024px) {
    #controls {
        bottom: 1.5rem;
        right: 1.5rem;
    }
}