@import "lib/normalize.css";

html, body {
    height: 100%;
}

#grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/grid.png") repeat;
    background-size: 120px 120px;
    z-index: 1000;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}