@import "lib/normalize.css";

html, body {
    height: 100%;
}

body {
    padding: 0;
}

button:focus {
    outline: 0;
}

a {
    text-decoration: none;
    color: #3F51B5;
}

#game-area {
    position: relative;
    width: 100%;
    height: 100%;
}

#grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/grid32@2x.png") repeat;
    background-size: 240px 240px;
}

#grid-selector {
    position: absolute;
    outline: 1px dashed #000;
}

.grid-selector-sibling {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#controls {
    position: fixed;
    top: 1rem;
    right: 1rem;
}

#controls .mdc-fab {
    display: block;
    margin: 0 auto 15px;
}

@media (min-width: 1024px) {
    #controls {
        top: 1.5rem;
        right: 1.5rem;
    }
}

#menu {
    position: absolute;
    right: 0;
    top: 0;
    padding-bottom: 10px;
}

.no-interaction-menu {
    /* Copied from .mdc-simple-menu. Copying was needed to prevent the MDC JS from overwriting with
    unwanted behavior. */
    display: none;
    width: 300px;
    min-width: 170px;
    max-width: calc(100vw - 32px);
    max-height: calc(100vh - 32px);
    margin: 0;
    padding: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    border-radius: 2px;
    background-color: white;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    will-change: transform, opacity;
    z-index: 4;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.no-interaction-menu .mdc-list {
    padding: 8px 0;
}

.no-interaction-menu .mdc-list-item {
    position: relative;
    padding: 0 10px;
    outline: none;
    color: inherit;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.75rem;
    text-decoration: inherit;
    text-transform: inherit;
}

.no-interaction-menu .mdc-list-divider {
    margin: 6px 0;
}

.mdc-simple-menu > h4 {
    margin: 8px 8px 0 8px;
}

.no-interaction-menu h4 {
    margin: 8px 0;
}

.no-interaction-menu--open {
    display: inline-block;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.mdc-select {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
}

.no-focus:focus, .no-focus:active {
    background: none !important;
}

.mdc-list-item {
    height: inherit;
    min-height: 48px;
}

.mdc-list-item > div {
    width: 100%;
}

#speed-slider {
    margin: -10px 0;
}

#density-slider {
    margin-top: -10px;
}

.mdc-form-field label {
    margin-bottom: 0;
    font-size: 1rem;
}

.resize-button {
    position: absolute;
    height: 12px;
    width: 12px;
    bottom: calc(50% - 6px);
    right: calc(50% - 6px);
    background-color: white;
    color: black;
}

.resize-button .material-icons {
    font-size: 12px;
}

.resize-hook-right {
    right: -6px;
}

.resize-hook-bottom {
    bottom: -6px;
}

.mdc-typography--subheading1 {
    font-weight: 500;
}

#clear-button {
    color: black;
    background-color: white;
    margin-left: 10px;
    float: right;
}

.mdc-list-item .sp-replacer {
    width: 30px;
}

#explanation {
    background: white;
    position: absolute;
    top: 50px;
    width: 800px;
    left: calc(50% - 400px);
    z-index: 10;
    margin-bottom: 50px;
}

#explanation button {
    margin: 0 auto 10px;
    display: block;
}

@media (max-width: 575px) {
    #explanation {
        width: 300px;
        left: calc(50% - 150px);
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    #explanation {
        width: 450px;
        left: calc(50% - 225px);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #explanation {
        width: 600px;
        left: calc(50% - 300px);
    }
}

/* Spectrum modification code */

.sp-replacer {
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 20px;
    padding: 0;
    border: none;
}

.sp-dd {
    display:none;
}

.sp-preview {
    height: 100%;
    width: 100%;
    border: none;
}

.sp-container {
    border: none;
    background: white;
}

.sp-palette .sp-thumb-el:hover, .sp-palette .sp-thumb-el.sp-thumb-active {
    border: none;
}

.sp-palette .sp-thumb-el {
    border: none;
    margin: 5px;
    width: 30px;
    height: 30px;
}